* {
    border: none;
    border-radius: 0;
    font-family: terminus;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#workspaces {
	background-color: #302e29;
	margin: 5px;
	margin-left: 10px;
	border-radius: 5px;
}
#workspaces button {
    padding: 0px 0px;
    color: #E0E1DB;
}

#workspaces button.focused {
    color: #302e29;
    background-color: #ACA386;
    border-radius: 5px;
}



#custom-date, #battery, #clock, #pulseaudio, #network, #tray {
	background-color: #302e29;
	padding: 5px 10px;
	margin: 5px 0px;
}

#custom-date {
	color: #ABDADF;
}


#tray {
	border-radius: 0px 5px 5px 0px;
	margin-right: 10px;
	color: #EFAB98
}
#clock {
    color: #7B9ED3;
}

#battery {
    color: #BBD757;
}

#battery.charging {
    color: #9ece6a;
}

#battery.warning:not(.charging) {
    background-color: #EADE96;
    color: #24283b;
}


#pulseaudio {
	color: #E9DD95;
	border-radius: 5px 0px 0px 5px;
}
