#pulseaudio, #custom-date, #battery, #cpu, #disk, #clock, #memory, #network, #window, #temperature, #tray {
	box-shadow: 3px 3px 0 #302E29;
	margin-bottom: 3px;
	margin-right: 3px;
	margin-left: 3px;
	padding: 0 10px;
	background: #c4bea9;
	border-radius: 0px;
}



* {
    border: none;
    border-radius: 0;
    font-family: "Terminus", "Symbols Nerd Font";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

.modules-left, .modules-right {
	background: transparent;
	margin-top: 3px;
	border-radius: 0px;
}

.modules-left {
	margin-left: 5px;
}

.modules-right {
	margin-right: 5px;
}



#workspaces button {
    padding: 0px 5px;
    color: #302E29;
    padding: 0 5px;
    margin: 0 3px;
    box-shadow: 3px 3px 0 #302E29;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    background: #c4bea9;
    border-radius: 0px;

}

#workspaces button.focused {
    color: #302E29;
    background-color: #B8C574;
    box-shadow: 3px 3px 0 #302E29;
}





#custom-date {
	color: #302E29;
}

#custom-power {
	color: #24283b;
	background-color: #db4b4b;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 5px 10px;
}

#tray {
	border-radius: 0px;
	margin-right: 10px;
	color: #302E29
}
#clock {
    color: #302E29;
}

#battery {
	color: #302E29;
}

#battery.critical {
	background-color: #e56744;
}

#battery.warning {
	background-color: #E9DD95;
}

#battery.charging {
	color: #302E29;
	background-color: #B8C574;
}

#network {
	color: #EFAB98;
}

#pulseaudio {
	color: #302E29;
}
